@page "/quiz"
@using GetTrivia.ConsoleService.Model;
@using HIOF.Net.V2023.DatabaseService.Model.V1;

<PageTitle>Quiz</PageTitle>

<div id="container">
    <div hidden="@showInputFromUser">
        <h1>Welcome to Quizgame</h1>

        <h2 class="optionPick">Pick category</h2>
        <select class="selectValue" @bind="pickCategory">
            <option value="music">Music</option>
            <option value="sport_and_leisure">Sport and leisure</option>
            <option value="film_and_tv">Film and tv</option>
            <option value="arts_and_literature">Arts and literature</option>
            <option value="history">History</option>
            <option value="society_and_culture">Society and culture</option>
            <option value="science">Science</option>
            <option value="geography">Geography</option>
            <option value="food_and_drink">Food and drink</option>
            <option value="general_knowledge">General knowledge</option>
        </select>

        <h2 class="optionPick">Input amount of question(s):</h2>
        <input type="number" @bind-value="@amount" />

        <h2 class="optionPick">Choose difficulty:</h2>
        <select class="selectValue" @bind="pickDifficulty">
            <option value="easy">easy</option>
            <option value="medium">medium</option>
            <option value="hard">hard</option>
        </select>

        <button class="buttonStyle" @onclick="HandleClick">Click me</button>
    </div>
    <div>
        @if (questions == null)
        {
            Console.WriteLine("No questions");
        }
            
        else
        {
            <section>
            @{
                var question = nextQuestion();
            }
            @if (question != null)
            {
                <h2>@question.Question</h2>

                @foreach (var answer in GetRandomizedAnswers(question.IncorrectAnswers, question.CorrectAnswer))
                {
                <button class="buttonStyle" value=@answer @onclick="() => checkAnswer(answer, question)">@answer</button>
                }
                <p>@question.CorrectAnswer</p>
            }
            else
            {
                    if (saveScore())
                    {
                        <h2>No more questions...your score is @correct of @amount</h2>
                        <button class="buttonStyle" onClick="document.location.reload(true)">New game</button>
                        <button class="buttonStyle">Save your score</button>
                    }
                    else
                    {
                        <h2>Error: user not found in database</h2>
                        <button class="buttonStyle" onClick="document.location.reload(true)">New game</button>
                    }
                }
        </section>
        }
    </div>
</div>


@code {
    private string pickCategory = "history";
    private string pickDifficulty = "easy";
    private int amount = 1;
    private List<Quest> questions;
    private int score = 0;
    private int correct = 0;
    private int wrong = 0;
    private bool showInputFromUser { get; set; } = false;
    Guid userId = Guid.Parse("3fa85f64-5717-4562-b3fc-2c963f66afa7"); //Default testuser



    private void HandleClick()
    {
        var url = $"https://localhost:7107/api/1.0/GetTrivia/TriviaCa?category={pickCategory}&numbersofQuestions={amount}&difficulty={pickDifficulty}";

        //få httpclient t interface?
        using var client = new HttpClient();
        var jsonQnA = client.GetFromJsonAsync<List<Quest>>(url).Result;
        questions = jsonQnA;

        showInputFromUser = !showInputFromUser;
    }

    private List<string> GetRandomizedAnswers(List<string> answers, string correctAnswer)
    {
        // Add the correct answer to the list of possible answers
        answers.Add(correctAnswer);

        // Shuffle the list of answers using Fisher-Yates shuffle algorithm
        Random random = new Random();
        int n = answers.Count;
        while (n > 1)
        {
            n--;
            int k = random.Next(n + 1);
            string temp = answers[k];
            answers[k] = answers[n];
            answers[n] = temp;
        }
        return answers;
    }

    private void checkAnswer(string answer, Quest question)
    {
        if (answer == question.CorrectAnswer) 
        {
            if (pickDifficulty == "easy")
                score += 1;
            else if (pickDifficulty == "medium")
                score += 2;
            else if (pickDifficulty == "hard")
                score += 3;
            correct++;
        }
        else
        {
            wrong++;
        }
    }

    private Quest nextQuestion()
    {
        if (questions.Count < 1)
            return null;

        Quest next = questions.First();
        questions.Remove(next);
        return next;
    }

    private Boolean saveScore()
    {
        // if user exists, update score
        if (userExists())
        {
            using var client = new HttpClient();
            var url = $"https://localhost:7160/api/1.0/UserData/update?id={userId}&category={pickCategory}&correct={correct}&wrong={wrong}";
            var test = client.PutAsync(url, null).Result;
            Console.WriteLine(test.Content.ReadAsStringAsync().Result);
            saveHighScore();
            return true;
        }
        else
        {
            return false;
        }
    }

    private void saveHighScore()
    {
        if (amount >= 10)
        {
            using var client = new HttpClient();
            var url = $"https://localhost:7160/api/1.0/HighScore/get/{userId}/{pickCategory}";
            var test = client.GetAsync(url).Result;
            Result<HighScore> testResult = test.Content.ReadFromJsonAsync<Result<HighScore>>().Result;
            if (testResult.HasErrors)
            {
                var url2 = $"https://localhost:7160/api/1.0/HighScore/create?id={userId}&category={pickCategory}&correct={correct}&wrong={wrong}&score={score}";
                var test2 = client.PostAsync(url2, null).Result;
                Console.WriteLine(test2.Content.ReadAsStringAsync().Result);                
            }
            else if ((float)(testResult.Value.Score / (testResult.Value.Wrong + testResult.Value.Correct)) < (float)(score / (wrong + correct)))
            {
                var url2 = $"https://localhost:7160/api/1.0/HighScore/update?id={userId}&category={pickCategory}&correct={correct}&wrong={wrong}&score={score}";
                var test2 = client.PutAsync(url2, null).Result;
                Console.WriteLine(test2.Content.ReadAsStringAsync().Result);
            }
        }
    }

    private Boolean userExists()
    {
        //call api to check if user exists
        using var client = new HttpClient();
        var url = $"https://localhost:7160/api/1.0/UserData/get/{userId}";
        var test = client.GetAsync(url).Result;
        Result<UserData> testResult = test.Content.ReadFromJsonAsync<Result<UserData>>().Result;
        if (!testResult.HasErrors)
        {
            Console.WriteLine("User exists");
            return true;
        }
        else
        {
            Console.WriteLine("User does not exist");
            return false;
        }
    }
}