@page "/statistic"

<PageTitle>Statistics</PageTitle>

@using HIOF.Net.V2023.WebApp.Model.V1;
@using Grpc.Net.Client;

<h1>Statistics</h1>

<h3>User Data:</h3>
<p>Here is your user data :)</p>

@if (!userData.HasErrors)
{
    <p>Total correct answers: @userData.Value.Correct</p>
    <p>Total wrong answers: @userData.Value.Wrong</p>
}
else
{
    foreach (string error in userData.Errors)
    {
        <p>@error</p>
    }
}

<p>The world average is @average.Value.Correct Correct and @average.Value.Wrong Wrong</p>

<h3>High Scores:</h3>

@if (categories != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Category</th>
                <th>Score</th>
                <th>Correct answers</th>
                <th>Wrong answers</th>
            </tr>
        </thead>
        @for (int i = 0; i < categories.Length; i++)
        {
            <tr>
                <td>@categories[i]</td>
                @if (!highScores[i].HasErrors)
                {
                    <td>@highScores[i].Value.Score</td>
                    <td>@highScores[i].Value.Correct</td>
                    <td>@highScores[i].Value.Wrong</td>
                }
                else
                {
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                }
            </tr>
        }
    </table>
}

@code {
    Result<UserData> userData;
    Result<UserData> average;
    Result<HighScore>[] highScores;
    string[] categories;

    protected override async Task OnInitializedAsync()
    {
        using var clientHttp = new HttpClient();

        var url = $"https://localhost:7160/api/1.0/statistics/userdata/get/3fa85f64-5717-4562-b3fc-2c963f66afa7";
        userData = clientHttp.GetFromJsonAsync<Result<UserData>>(url).Result;

        url = $"https://localhost:7160/api/1.0/statistics/userdata/average";
        average = clientHttp.GetFromJsonAsync<Result<UserData>>(url).Result;

        // GRPC Connection
        using var channel = GrpcChannel.ForAddress("https://localhost:7107");
        var clientGrpc = new TriviaService.TriviaServiceClient(channel);
        var reply = clientGrpc.GetCategories(new NoRequest());
        categories = reply.Categories.ToArray();

        // HTTP Connection
        //url = $"https://localhost:7107/api/1.0/gettrivia/categories";
        //categories = clientHttp.GetFromJsonAsync<string[]>(url).Result;

        highScores = new Result<HighScore>[categories.Length];

        for (int i = 0; i < categories.Length; i++)
        {
            url = $"https://localhost:7160/api/1.0/statistics/highscore/get/3fa85f64-5717-4562-b3fc-2c963f66afa7/{categories[i]}";
            highScores[i] = clientHttp.GetFromJsonAsync<Result<HighScore>>(url).Result;
        }
    }
}
